Reminder: these notebooks were created for Python3.  If using Python2, be aware there will be some differences:
https://www.geeksforgeeks.org/important-differences-between-python-2-x-and-python-3-x-with-examples/

# Basic Data Types in Python

All programming languages have certain data types avaiable by default, and this is how we interact with data.  Python has many data types.  We will first cover some basics, then some more advanced types.

Python has three numeric types
* int - Integers
* float - floating point numbers as `3.14` decimals or `6.022e23` scientific notations
* complex - complex numbers with a real and imaginary part

Other basic data types include:
* str - Strings are sequences of characters
* bool - Boolean values are either `True` for `False`
* none - A special type used to indicate uninitialize or non-existent

### Integers

Integers are whole numbers, or those without a decimal place.

In [1]:
# basic arithmetic operators work as expected
# exceptions to this rule are noted
4 + 8

12

In [2]:
4 - 8

-4

In [3]:
4 * 8

32

In [5]:
# floor division returns the lowest number times the divisor goes into the numerator
# note: values are truncated toward negative infinity
15 // 6

2

In [6]:
# results of the "truncated toward negative infinity" can be surprising at first
15  // -6

-3

In [7]:
# modulus division returns the remainder of an interger division
15 % 6

3

In [8]:
# modulus too is "truncated toward negative infinity"
15 % -6

-3

In [9]:
# together floor division and modulus maintain the relationship
# value = divisior * quotient + remainder
15 // 6 * 6 + 15 % 6

15

In [10]:
15 // -6 * -6 +  15 % -6

15

In [11]:
# exponentiation
4 ** 8

65536

In [12]:
# an alternate way of creating an integer value
int(4.0)

4

In [13]:
# the type function returns the data type of the value in the parentheses
type(4 ** 8)

int

### Floating Point
All values with a decimal point or an `e`

In [4]:
# division results in a floating point number in Python 3 (in Python 2, this results in an integer)
# all numbers with a decimal point is a float in python
4 / 8

0.5

In [14]:
4.0 + 2.0

6.0

In [15]:
-4.0 / 2.0

-2.0

In [16]:
9e2  # the same as 9 * 10^2

900.0

In [9]:
9e2 ** 0.5  # exponentiation is two stars: **
# e.g. 10^2 is 10 ** 2

30.0

In [18]:
1/1e2

0.01

In [19]:
1/3

0.3333333333333333

In [20]:
# another way of creating a floating point value
float(365)

365.0

In [21]:
type(1/3), type(1/1e3)

(float, float)

### Strings
Are a _sequence_ of characters used to represent text and commonly numeric values as they are first read into a program.

In [28]:
e = 'elephant'
z = 'zebra'

In [29]:
len(e), len(z)

(8, 5)

In [30]:
e + z

'elephantzebra'

In [31]:
z * 3

'zebrazebrazebra'

In [32]:
e == z, e != z

(False, True)

In [33]:
# sequences including strings, lists and tuples allow acces to indivual members using the [] oparator
e[0]

'e'

In [34]:
# in programming you start counting a 0, not 1
z[0]

'z'

In [35]:
# you can also count backward through collections and confusingly -- that starts at -1
e[-1], z[-1]

('t', 'a')

### Boolean
The Boolean type has two possible values 'True' or 'False'.

In [36]:
2 < 4

True

In [37]:
# a single = is the assignment operator
x = 2
y = 5

In [38]:
# a double == is the equality comparison operator
# and != is the not-equal comparison operator
# all comparison operators return boolean results
x == x, x == y, x != y

(True, False, True)

In [39]:
# less-than and less-than-or-equal-to operators
2 < 2, 2 <= 2

(False, True)

In [40]:
# greater-than and greater-than-or-equal-to
5 > 5, 5 >= 5

(False, True)

In [41]:
# Values in python have associated boolean values
bool(1), bool(0)

(True, False)

In [42]:
# Summarizing: 0 and empty collections are always false, everything else is true
bool(3.14), bool(0.0)

(True, False)

In [43]:
bool([1,2,3]), bool([])

(True, False)

In [44]:
# empty strings are consider false, all other strings are true
bool('cat'), bool('')

(True, False)

In [45]:
type(1==1)

bool

### None Type
A special value in Python that is used to represent uninitialized values

In [46]:
bool(None)

False

In [47]:
None == None

True

In [48]:
type(None)

NoneType

# More Advanced Data Types
There are also some more advanced data types, such as:

* lists
* tuples
* dictionaries (dict)
* sets

# Lists

A list is one of the fundamental data types in Python.  It consists of some other objects within square brackets, like this list of strings:

In [ ]:
['here', 'is', 'a', 'list', 'of', 'strings']

Most datatypes in Python have some built-in methods.  Some useful ones for lists are .append() and .extend().

In [40]:
test_list = [1, 2, 3]
# putting the variable at the end of the cell prints out that variable
test_list

[1, 2, 3]

In [23]:
type(test_list)

list

In [20]:
test_list.append(4)

In [21]:
test_list

[1, 2, 3, 4]

In [22]:
test_list.extend([-1, -2, -3])
test_list

[1, 2, 3, 4, -1, -2, -3]

Python is 0-indexed, so the first element in a list is the 0th index:

In [27]:
test_list[0]

1

Lists can be indexed with the pattern

list[start:stop:step]

So to reverse a list, we do:

In [28]:
test_list[::-1]

[-3, -2, -1, 4, 3, 2, 1]

This means we are going from the start to the end in steps of -1.  We can also go from the first element to the second like this:

In [29]:
test_list[1:2]

[2]

The indexing start is inclusing, but the end is non-inclusive, meaning the index of 'start' in [start:stop_stop] is included in the returned results, but the index of 'stop' is not.

We can also use negative numbers for indexes, which takes the elements of the list starting from the end:

In [30]:
test_list[-1]  # gets last element in list

-3

In [32]:
test_list[-2]  # gets second-to-last element

-2

# Tuples

Tuples are like lists, but are *immutable*.  This means they cannot be changed once created.  Tuples are contained in regular parenthesis.

In [24]:
tup = ('a', 'tuple')
type(tup)

tuple

In [25]:
tup

('a', 'tuple')

In [26]:
tup[0]

'a'

In [34]:
tup[0] = 'b'  # once a tuple has been made, you can't change it

TypeError: 'tuple' object does not support item assignment

# Dictionaries

There is another notebook specifically for dictionaries. These are enclosed in curly brackets, and have keys and values.  The keys are what we use to get the values from a dictionary.

In [35]:
a_dict = {'a_key': 'a_value', 'another_key': 101}

In [36]:
a_dict

{'a_key': 'a_value', 'another_key': 101}

In [37]:
a_dict['a_key']

'a_value'

In [38]:
a_dict.keys()

dict_keys(['a_key', 'another_key'])

In [39]:
a_dict.values()

dict_values(['a_value', 101])

# Sets
Sets are collections of *unique* items.  You can convert lists to sets.  Like dictionaries, sets are enclosed in curly brackets.

Checking for an item in a list means we step through each entry in the list and check if that entry matches our search for the item.  This means searching for something in a list can take a long time if the list is long.  Searching for something in a set is instant, however, because the entries in the set are *hashed*.

In [44]:
a_set = {1, 2, 3}
a_set

{1, 2, 3}

In [45]:
a_list = [1, 2, 3, 4, 4, 4]
a_list

[1, 2, 3, 4, 4, 4]

In [46]:
set(a_list)  # notice 4 only shows up once in the set, even though it's in the list 3 times

{1, 2, 3, 4}

### Extra (not required): Complex numbers
Complex numbers have a real and imaginary parts and can be useful for representing vectors

In [22]:
# variable assignment as a complex number indicated by the j
u = 4.3 + 2.0j

In [23]:
v = 3.2 + 0.5j

In [24]:
w = u + v
w

(7.5+2.5j)

In [25]:
# getting the component parts of a complex number
w.real, w.imag

(7.5, 2.5)

In [26]:
# an alternate way of creating a complex value
complex(2, 7)

(2+7j)

In [27]:
type(w)

complex