# Basic Data Types in Python

* Python has three numeric types
    - int - Integers
    - float - floating point numbers as `3.14` decimals or `6.022e23` scientific notations
    - complex - complex numbers with a real and imaginary part
* str - Strings are sequences of characters
* bool - Boolean values are either `True` for `False`
* none - A special type used to indicate uninitialize or non-existent

### Integers

In [1]:
# basic arithmetic operators work as expected
# exceptions to this rule are noted
4 + 8

12

In [2]:
4 - 8

-4

In [3]:
4 * 8

32

In [4]:
# division results in a floating point number
# all numbers with a decimal point is a float in python
4 / 8

0.5

In [5]:
# floor division returns the lowest number times the divisor goes into the numerator
# note: values are truncated toward negative infinity
15 // 6

2

In [6]:
# results of the "truncated toward negative infinity" can be surprising at first
15  // -6

-3

In [7]:
# modulus division returns the remainder of an interger division
15 % 6

3

In [8]:
# modulus too is "truncated toward negative infinity"
15 % -6

-3

In [9]:
# together floor division and modulus maintain the relationship
# value = divisior * quotient + remainder
15 // 6 * 6 + 15 % 6

15

In [10]:
15 // -6 * -6 +  15 % -6

15

In [11]:
# exponentiation
4 ** 8

65536

In [12]:
# an alternate way of creating an integer value
int(4.0)

4

In [13]:
# the type function returns the data type of the value in the parentheses
type(4 ** 8)

int

### Floating Point
All values with a decimal point or an `e`

In [14]:
4.0 + 2.0

6.0

In [15]:
-4.0 / 2.0

-2.0

In [16]:
9e2

900.0

In [17]:
9e2 ** 0.5

30.0

In [18]:
1/1e2

0.01

In [19]:
1/3

0.3333333333333333

In [20]:
# another way of creating a floating point value
float(365)

365.0

In [21]:
type(1/3), type(1/1e3)

(float, float)

### Complex
Complex numbers have a real and imaginary parts and can be useful for representing vectors

In [22]:
# variable assignment as a complex number indicated by the j
u = 4.3 + 2.0j

In [23]:
v = 3.2 + 0.5j

In [24]:
w = u + v
w

(7.5+2.5j)

In [25]:
# getting the component parts of a complex number
w.real, w.imag

(7.5, 2.5)

In [26]:
# an alternate way of creating a complex value
complex(2, 7)

(2+7j)

In [27]:
type(w)

complex

### Strings
Are a _sequence_ of characters used to represent text and commonly numeric values as they are first read into a program.

In [28]:
e = 'elephant'
z = 'zebra'

In [29]:
len(e), len(z)

(8, 5)

In [30]:
e + z

'elephantzebra'

In [31]:
z * 3

'zebrazebrazebra'

In [32]:
e == z, e != z

(False, True)

In [33]:
# sequences including strings, lists and tuples allow acces to indivual members using the [] oparator
e[0]

'e'

In [34]:
# in programming you start counting a 0, not 1
z[0]

'z'

In [35]:
# you can also count backward through collections and confusingly -- that starts at -1
e[-1], z[-1]

('t', 'a')

### Boolean
The Boolean type has two possible values 'True' or 'False'.

In [36]:
2 < 4

True

In [37]:
# a single = is the assignment operator
x = 2
y = 5

In [38]:
# a double == is the equality comparison operator
# and != is the not-equal comparison operator
# all comparison operators return boolean results
x == x, x == y, x != y

(True, False, True)

In [39]:
# less-than and less-than-or-equal-to operators
2 < 2, 2 <= 2

(False, True)

In [40]:
# greater-than and greater-than-or-equal-to
5 > 5, 5 >= 5

(False, True)

In [41]:
# Values in python have associated boolean values
bool(1), bool(0)

(True, False)

In [42]:
# Summarizing: 0 and empty collections are always false, everything else is true
bool(3.14), bool(0.0)

(True, False)

In [43]:
bool([1,2,3]), bool([])

(True, False)

In [44]:
# empty strings are consider false, all other strings are true
bool('cat'), bool('')

(True, False)

In [45]:
type(1==1)

bool

### None Type
A special value in Python that is used to represent uninitialized values

In [46]:
bool(None)

False

In [47]:
None == None

True

In [48]:
type(None)

NoneType